.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  padding-bottom: 24px;
  padding-top: 28px;
  font-size: 16px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal__submit {
  width: 124px;
  height: 36px;
  border-radius: 4px;
  border: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  height: 436px;
  border: 1px solid #ccc;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
  margin-top: 8px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  width: 100%;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 12px;
  padding-bottom: 32px;
  color: rgba(0, 0, 0, 0.5);
}

.modal__legend {
  color: rgba(0, 0, 0, 1);
}
