.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.toggle-switch__circle {
  background-color: black;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: all 0.3s;
  z-index: 1;
}

.toggle-switch__text {
  color: gray;
  position: absolute;
  top: 5px;
  font-weight: bold;
  font-size: 14px;
  z-index: 0;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

.toggle-switch__text_color_white {
  color: white;
}
