.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  text-align: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  color: #0000004d;
}

.card__image {
  width: 100%;
  border-radius: mixed(8px, 8px, 0, 0);
}
