.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  text-align: center;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  width: 49px;
  height: 20px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
}

.card__preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.card__modal-content {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  position: relative;

  display: flex;
  flex-direction: column;
}

.card__modal-text {
  font-family: "Cabinet Grotesk", sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 1);
}

.card__weather {
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
}

.card__close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}
