.weather-card {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
}

.weather-card__temp {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 16px;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  font-family: "Cabinet Grotesk", sans-serif;
  z-index: 1;
}

.weather-card__image {
  object-fit: cover;
  object-position: right top;
  width: 100%;
  height: 100%;
}
