.page {
  background-color: #f3f3f3;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  line-height: 100%;
}
