.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 42px 24px 40px;
  font-size: 16px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}
